body{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
.wrapper{
    background-color: rgb(157, 182, 240);
    height:100vh;
}
.header{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    height: 60px;
}
.logo{
    width:60px;
    height:40px;
    border-radius: 8px;
    margin-right: 10px;
}
.mainContent{
    width:100%;
}
.wallpaper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: black;
    background-image: url('/image/working.png'); /* Đường dẫn đến hình ảnh */
    background-size: cover; /* Hiển thị hình ảnh mà không bị mất tỷ lệ */
    background-position: center; /* Hiển thị hình ảnh ở giữa trang */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    height:100vh;

}
.footer{
    background-color: rgb(157, 182, 240);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
    font-size: 16px;
}